html {
   
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */


 body {
    /*background-image: url("img/palm tree 8bit.png");*/
    background-color: #000000;
    background-size: contain ;
    background-repeat: no-repeat;
    background-position-x: 40%;
    transition: 1s;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: crosshair;
    font-family: 'VCR_OSD_MONO' !important;
  }
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: crosshair;
  }
  
  @font-face {
    font-family: "VCR_OSD_MONO";
    src: url("/VCR_OSD_MONO_1.001.ttf") format("opentype");
  }
  p {
    margin-top: 0% !important;
  }

  h1,h2, h3, h4 {
      font-family: "VCR_OSD_MONO" !important;
  }
  
  #polygon {
      z-index: 2;
      padding: none;
      margin-top: none !important;
    position: fixed;
    height: 80%  ; 
    left: 2%; 
    top: 12%; 
    color: #ffffff;
     font-family: 'VCR_OSD_MONO';
      font-size: 80px;
      animation: throb 3s linear infinite;
      line-height: 1;
  }
  #patio {
      z-index: 2;
      padding: none;
    position: fixed;
    height: 90%; 
    left: 6%; 
    top: 12%; 
    color: #ffffff;
     font-family: 'VCR_OSD_MONO';
      font-size: 90px;
      animation: throb 3s reverse infinite ;
      line-height: 1;
      
  }
  
  #first {
    font-family: "VCR_OSD_MONO";
  }
  #second {
    font-family: "VCR_OSD_MONO";
    font-weight: lighter;
  }
  #secondb {
    font-family: "VCR_OSD_MONO";
  }
  #third {
    font-family: "VCR_OSD_MONO";
    font-stretch: extra-condensed;
  }
  
  .overlay {
    height: 60%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: (#000000);
    /*background-color: (1, 1, 1, 0.9);*/
    overflow-x: hidden;
    transition: 1s;
  }

  .overlay-content {
    position: relative;
    width: 100%;
    /* top: 100px; */
    text-align: right;
    margin-top: 130px;
  }

  .overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 1s;
  }

  .overlay a:hover,
  .overlay a:focus {
    transition: 1s;
    font-size: 30px;
    color: #3dee5a;
  }

  .overlay .closebtn {
    position: absolute;
    top: 100px;
    right: 0px;
    font-size: 30px;
    
  }

  #menu-icon {
      position:absolute; 
      left: 97%; 
      color: #ffffff; 
      font-size: 45px; 
      margin-top: 20px; 
      cursor: pointer"
  }

  .openbtn {
    position: absolute;
    font-size: 30px;
    margin: 30px;
    cursor: pointer"
  }

  .closebtn {
    color: #ffffff;
    cursor: pointer;
  }
  @keyframes throb {
    0%{ opacity: 100%}
    40%{ opacity: 50%}
    99%{ opacity: 100%}
  }
            @keyframes glitch{
            2%,64%{ transform: translate(0,2px) skew(0deg);}
            4%,60%{transform: translate(0,-2px) skew(0deg);}
            62%{transform: translate(0,0) skew(0.3deg);}
            }
            @keyframes glitchTop{
            2%,64%{transform: translate(2px,-2px);}
            4%,60%{transform: translate(-2px,2px);}
            62%{transform: translate(13px,-1px) skew(-3deg); }
            }
            @keyframes glitchBotom{
            2%,64%{transform: translate(-2px,0);}
            4%,60%{transform: translate(-2px,0);}
            62%{transform: translate(-22px,5px) skew(21deg);}
            }

/* Style overrides for Mobile views. This comes last on the styles always. If maximum device width is 812px, apply the styles*/
  @media screen and (max-width: 812px) {
    /* Scale down images by half the sizes*/
    body {
      /*background-image: url("img/Lye\ faded.jpg");*/
      background-color: #000000;
    background-size:160%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    
    }
    img {
      -moz-transform:scale(0.5, 0.5);
      -webkit-transform:scale(0.5, 0.5);
      transform:scale(0.5, 0.5);
    }
    .overlay a {
      font-size: 15px;
    }
    .overlay .closebtn {
      font-size: 30px;
      top: 0px;
      left: 5px;
      
    }

    .overlay {
      z-index: 00;
      height: 0%;
      width: 100%;
      position: fixed;
      background-color: inherit; /* Take background color from body tag */
      overflow-x: hidden;
      transition: 1s;
    }

    .overlay-content {
        position: relative;
        width: 100%;
        /* top: 100px; */
        text-align: right;
        margin-top: 75px;
      }

    #menu-icon {
        z-index: 2;
        position:absolute; 
        left: 90%; 
        
        color: #ffffff; 
        font-size: 45px; 
        margin-top: 10px; 
        cursor: pointer"
    }
    #polygon {
    position: absolute;
    height: 50px; 
    left: 0%; 
    top: 5%; 
    color: #ffffff;
     font-family: 'VCR_OSD_MONO';
      font-size: 60px;
      animation: throb 2s linear infinite;
  }
  #patio {
    position: absolute;
    height: 20%; 
    left: 0%; 
    top: 12%; 
    color: #ffffff;
     font-family: 'VCR_OSD_MONO';
      font-size: 60px;
      animation: throb 2s reverse infinite;
      
  }
  a{
    color: #3dee5a ;
    text-decoration: none;

  }
  #plazalink {
color: #3dee5a ;
animation: throb 3s reverse infinite ;
text-decoration: none;
}
  

    /* Style the canvas container. Styling the canvas directly I think breaks the functionality of the cloud */
  #myCanvasContainer {
    height: 40vh;
    object-fit: contain;
  }

  canvas {
    top: 40px; /* Nudge the canvas up a little bit */
    left: 0;
    cursor: crosshair;
  }
}
 

  .overlay a {
    font-size: 30px;
  }

  .overlay .closebtn {
    font-size: 40px;
    /* margin-right: 15px;
    margin-left: 15px; */
    top: 0px;
    right: 150px;
  }

::-moz-selection {
    
    text-shadow: none;
}

::selection {
    

    
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 .static {
    position:absolute;
    
  }
  
  .static:hover {
    opacity:0;
  }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
.myCanvasContainer {
    position: absolute;
    left: 0;
}
/* Artist pages*/
#artist-page {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 50px;
}

#artist-table {
        border: none;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: auto;
        text-align: middle;
        font-family: Arial, Helvetica, sans-serif;

    }
#page-head { 
    text-align: center;
    font: Helvetica, bold ; 
    font-size: 20;
    color: #f14632; 
}
audio,
iframe,
canvas,
img,
svg,
video {
    position: absolute;
    vertical-align: 60%;
    width: 97%;
    height: 100%;
    top: 0;
    left: 0px;
    outline: none;
}

/*
 * Remove default fieldset styles.
 */

/* fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

/*textarea {
    resize: vertical;
} */

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

/* .browserupgrade {
    margin: 0.2em 0;
    background: #c5edff;
    color: #000;
    padding: 0.2em 0;
} */

/* ==========================================================================
   STYLING
   ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/* .hidden {
    display: none !important;
} */

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* 
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} */

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

/* .visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
} */

/*
 * Hide visually and from screen readers, but maintain layout
 */

/* .invisible {
    visibility: hidden;
} */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/* .clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    /* display: table; /* 2 
}

/* .clearfix:after {
    clear: both;
} */ 

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition 
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices 
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

 @media print {
    * ,
    * :before,
    * :after,
    * :first-letter,
    * :first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                           http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important; 
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }
 }
    /*
         * Don't show links that are fragment identifiers,
         * or use the `javascript:` pseudo protocol
         */

    /* a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    } */
/* 
    pre,
    blockquote {
        border: 0px solid #c5edff;
        page-break-inside: avoid;
    } */

    /*
         * Printing Tables:
         * http://css-discuss.incutio.com/wiki/Printing_Tables
         */

    /* thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
} */


